affine==2.2.2
alabaster==0.7.12
attrs==19.1.0
Babel==2.7.0
backcall==0.1.0
backports.csv==1.0.7
Cartopy==0.17.0
certifi==2019.6.16
chardet==3.0.4
Click==7.0
click-plugins==1.1.1
cligj==0.5.0
coreapi==2.3.3
coreschema==0.0.4
cycler==0.10.0
decorator==4.4.0
defusedxml==0.6.0
Deprecated==1.2.7
diff-match-patch==20181111
Django==2.2.24
django-cleanup==4.0.0
django-extensions==2.1.9
django-filter==2.1.0
django-import-export==1.2.0
django-rest-swagger==2.2.0
djangorestframework==3.9.4
djangorestframework-gis==0.14
docutils==0.15.2
drf-extensions==0.5.0
drf-nested-routers==0.91
et-xmlfile==1.0.1
Fiona==1.8.6
geopandas==0.5.0
gunicorn==19.9.0
idna==2.8
imagesize==1.1.0
ipython==7.6.1
ipython-genutils==0.2.0
itypes==1.1.0
jdcal==1.4.1
jedi==0.14.0
Jinja2==2.10.1
joblib==0.14.1
jsonfield==2.0.2
kiwisolver==1.1.0
mapclassify==2.2.0
MarkupSafe==1.1.1
matplotlib==3.1.0
munch==2.3.2
numpy==1.16.4
odfpy==1.4.0
openapi-codec==1.3.2
openpyxl==2.6.2
packaging==19.2
pandas==0.24.2
parso==0.5.0
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.2.2
prompt-toolkit==2.0.9
psutil==5.6.6
psycopg2==2.8.3
ptyprocess==0.6.0
Pygments==2.4.2
pyparsing==2.4.0
pyproj==2.2.1
pyshp==2.1.0
python-dateutil==2.8.0
pytz==2019.1
PyYAML==5.1.1
rasterio==1.0.24
-e git+https://github.com/CNR-ISMAR/rectifiedgrid@50a901a835e3ea2dbec7926739b6695d15a5ac79#egg=rectifiedgrid
requests==2.22.0
Rtree==0.8.3
scikit-learn==0.22.2.post1
scipy==1.3.0
seaborn==0.9.0
Shapely==1.6.4.post2
simplejson==3.16.0
six==1.12.0
slugify==0.0.1
snowballstemmer==2.0.0
snuggs==1.4.6
Sphinx==2.2.1
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sqlparse==0.3.0
tablib==0.13.0
-e git+https://github.com/CNR-ISMAR/tools4msp.git@9cf20631aa6577b76d931e9e231eee0d7d1772aa#egg=tools4msp
traitlets==4.3.2
uritemplate==3.0.0
urllib3==1.25.3
wcwidth==0.1.7
wrapt==1.12.1
xlrd==1.2.0
xlwt==1.3.0
