{% extends "tools4msp/tools4msp_base.html" %}

{% load i18n %}
{% block title %} {% trans "Case study" %} — {{ block.super }}{% endblock %}


{% block body %}

  <ol class = "breadcrumb">
      <li><a href="{% url 'tools4msp-home' %}">Tools4MSP</a></li>
      <li class = "active">Step1</li>
  </ol>

  <div class="row">
      <div class="col-md-12">
          <h2>Step 1: Case Study selection</h2>
          <p>
              In step 1 you can select a predefined set of input data that you can use for your geospatial analyses.
              The Case Study areas can be differentiated by region (e.g. Adriatic Ionian Region - AIR), resolution and temporal scenario (e.g. 2014, 2020).
          </p>
      </div>
  </div>
  <div class="row">
      <div class="col-md-3"><strong>Case Study</strong></div>
      <div class="col-md-5"><strong>Description</strong></div>
      <div class="col-md-4"><strong>Additional info</strong></div>
  </div>
  {% for casestudy in object_list %}
  <div class="row">
      <div class="col-md-3">
          <a href="{% url "casestudy-conf" tool=tool id=casestudy.id %}">{{ casestudy.label }} {{ tool }}</a>
      </div>
      <div class="col-md-5"><p>{{ casestudy.description }}</p></div>
      <div class="col-md-4">
          <li class="list-unstyled">
              Resolution: {{ casestudy.grid_resolution }} m
          </dl>
      </div>
  </div>
  {% empty %}
  {% endfor %}
{% endblock %}
