{% extends "tools4msp/tools4msp_base.html" %}

{% load i18n %}
{% block title %} {% trans "Case study" %} — {{ block.super }}{% endblock %}

{% block body %}

  <div class="page-header">
    <h1>COEXIST - Sea Uses Conflict Analysis</h1>
  </div>

  <div class="row">
      <div class="col-md-12">
          <h4>Aim</h4>
          <p>The COEXIST – sea uses conflict analysis tool (hyperlink)
              was developed during ADRIPLAN project (hyperlink). The
              tool is based on a methodology developed for the FP7
              <a href="http://www.coexistproject.eu/">COEXIST Project</a>  and has the aim to (1)
              support MSP process through reallocation of maritime
              uses, (2) creation of collaborative conflict scores
              analysis; (3) iteration of the analysis over different
              time periods trough integration of new conflict scores
              and geospatial datasets on sea uses, (4) sea use
              scenario analysis and (5) overlay analysis.
          </p>
          <img class="img-thumbnail" src="{{ STATIC_URL }}tools4msp/img/coexists_schema_small.jpg">
          <div>
              <p><strong>Figure 1.</strong> Stepwise methodological approach for the The COEXIST – sea uses conflict analysis.</p>
          </div>
          <p>
              The stepwise methodology implemented in the COEXIST – sea uses conflict analysis can be described as follows (see also Figure 1):
              <dl>
                  <dt>Step 1:</dt>
                  <dd>Identification and collection of relevant sea use datasets. </dd>
                  <dt>Step 2:</dt>
                  <dd>Normalization of use layers on a 1 km2 grid size using the European Environmental Agency Reference Grid (EEA, 2012).</dd>
                  <dt>Step 3:</dt>
                  <dd>Expert based definition of spatial and temporal
                      attributes (vertical domain; activity spatial
                      domain; activity temporal domain; mobility) and
                      calculation of “conflict score” for sea use
                      pairs located in the same cell.</dd>
                  <dt>Step 4:</dt>
                  <dd>Geospatial visualization of spatial conflict
                      scores, representing the potential spatial and
                      temporal conflict between sea uses.</dd>
              </dl>
          </p>
          <h4>Outputs</h4>
          <p>
              The main outputs of the tool are the following:
              <ul>
                  <li>Quantification and visualization of overlapping sea uses by considering current and future sea use scenarios.</li>
                  <li>Generation of statistical outputs (plots and tables) to inform on sea use contribution to conflict scores.</li>
                  <li>Analysis of data gaps in terms of data availability, quality and geospatial extent based on data availability maps and statistical outputs.</li>
              </ul>
          </p>
          <h4>References and further reading</h4>

          <p>ADRIPLAN, 2016. ADRiatic-Ionian Marine Spatial
          PLANning. Web: <a href=">http://adriplan.eu/">http://adriplan.eu/</a>, accessed 23/09/2016.</p>

          <p>ADRIPLAN Data Portal, 2016. Web: <a href="http://data.adriplan.eu/">http://data.adriplan.eu/</a>, accessed 23/09/2016.</p>

          <p>ADRIPLAN Data Portal Guidelines, 2016. Web: <a href="http://data.adriplan.eu/documents/?limit=20&offset=0">http://data.adriplan.eu/documents/?limit=20&offset=0</a>, accessed 23/09/2016.</p>

          <p>Barbanti, A., Campostrini, P., Musco, F., Sarretta, A., and Gissi, E. (2015). Developing a Maritime Spatial Plan for the Adriatic Ionian Region. CNR-ISMAR, Venice, IT.</p>

          <p>EEA, 2012. EEA reference grid. Web: <a href="http://www.eea.europa.eu/data-and-maps/data/eea-reference-grids-1"</a>http://www.eea.europa.eu/data-and-maps/data/eea-reference-grids-1</a>, accessed 23/09/2016.</p>

          <p>European MSP Platform, 2016. Adriplan conflict score tool. Web: <a href="http://msp-platform.eu/practices/adriplan-conflict-score-tool">http://msp-platform.eu/practices/adriplan-conflict-score-tool</a>, accessed 23/09/2016.</p>

          <p>Menegon, S., and Sarretta A., 2016. Development and integration of geopython tools to support integrated coastal management and Marine Spatial Planning. Geopython Conference, 2016. Presentation Muttenz, June 24, 2016. Web: <a href="http://menegon.github.io/presentations/geopython2016/#/">http://menegon.github.io/presentations/geopython2016/#/</a>, accessed 23/09/2016.</p>

          <p>Menegon S, Sarretta A, Barbanti A, Gissi E, Venier C. (2016). Open source tools to support Integrated Coastal Management and Maritime Spatial Planning. PeerJ Preprints 4:e2245v2 <a href="https://doi.org/10.7287/peerj.preprints.2245v2">https://doi.org/10.7287/peerj.preprints.2245v2</a></p>

          <h5>Any question?</h5>
          <address>
              <strong>Tools 4 MSP group</strong>
              <br/>
              CNR - Institute of Marine Sciences
              <br/>
              Email: <tt>tools4msp[at]ismar.cnr.it</tt>
          </address>

      </div>
  </div>
{% endblock %}
